# Copia este archivo a `.env` y completa los valores (`.env` no se sube a Git)

# Django
DJANGO_SECRET_KEY=cambia-esto-por-una-clave-larga-y-aleatoria
DEBUG=false
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de datos PostgreSQL
POSTGRES_DB=ROS_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=101606
POSTGRES_HOST=db
POSTGRES_PORT=5432

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASSWORD=tu_app_password
SMTP_USE_TLS=true
SMTP_USE_SSL=false
EMAIL_FROM=tu_correo@gmail.com

# SendPulse
SENDPULSE_CLIENT_ID=
SENDPULSE_CLIENT_SECRET=
SENDPULSE_FROM_EMAIL=OllaSazon@gmail.com
SENDPULSE_FROM_NAME=Olla y Sazón
SENDPULSE_LIST_ID=633081
